<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grinhouseapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GrinHouseApp">
        <activity android:name=".treshold.TemperatureActivity"
            android:parentActivityName=".HomeActivity">

        </activity>
        <activity android:name=".treshold.CarbonDioxideActivity"
            android:parentActivityName=".HomeActivity">

        </activity>
        <activity
            android:name=".FilterActivity"
            android:parentActivityName=".HomeActivity"></activity>
        <activity
            android:name=".ui.notification.Notification"
            android:parentActivityName=".HomeActivity"></activity>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/shape" />

        <activity
            android:name=".HomeActivity"
            android:label="GrinHouse">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>